---
layout: singlePage
---

<style>
.presentation-divider {
  margin: 1.5rem 0;
  height: 2px;
  border-radius: 999px;
  background-color: rgba(90, 90, 90, 0.8);
}

.presentation-abstract {
  padding: 0 1.25rem;
  margin: 0 1.25rem;
}

.presentation-abstract md-block {
  text-align: justify;
  margin: 0;
}

.presentation-spacer {
  margin-bottom: 1.25rem;
}

.presentation-pdf-wrapper {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.presentation-pdf-object {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .presentation-abstract {
    padding: 0;
    margin: 0;
  }
  .presentation-divider {
    margin: 1rem 0;
  }
  .presentation-pdf-wrapper {
    display: none !important;
  }
}
</style>

<h1>{{ page.title }}</h1>
{{ page.date | date: "%Y" }}
{% if page.keynote %}
&bull; <a href="{{ site.baseurl }}/{{ page.keynote }}">Keynote</a>
{% endif %}
{% if page.powerpoint %}
&bull; <a href="{{ site.baseurl }}/{{ page.powerpoint }}">Powerpoint</a>
{% endif %}
{% if page.pdf %}
{% if page.source %}
&bull; <a href="{{ page.source }}" target='_blank'>Source</a>
{% endif %}
&bull; <a href="{{ site.baseurl }}/{{ page.pdf }}">PDF</a>
{% endif %}
{% if page.paper %}
&bull; <a href="{{ page.paper }}">Paper</a>
{% endif %}
{% assign summary_text = page.summary | default: "" | strip %}
{% assign abstract_text = page.abstract | default: "" | strip %}
{% if summary_text != "" or abstract_text != "" %}
<br>
<div class="presentation-divider"></div>
<div class="presentation-abstract">
  <md-block>
  {% if summary_text != "" %}
    {{ summary_text }}
  {% endif %}
  {% if abstract_text != "" %}
    <b>Abstract.</b> {{ abstract_text }}
  {% endif %}
  </md-block>
</div>
{% else %}
<br>
<div class="presentation-spacer"></div>
{% endif %}

<div class="presentation-pdf-wrapper">
<div style="flex: 1 1 auto;">
  <object
    class="presentation-pdf-object"
    data="{{ site.baseurl }}/{{ page.pdf }}"
    type="application/pdf"
  ></object>
</div>
