---
layout: singlePage
---

<h1>{{ page.title }}</h1>
<em>{{ page.date | date: "%Y" }}</em>
{% if page.powerpoint %}
| <a href="{{ site.baseurl }}/{{ page.powerpoint }}">Powerpoint</a>
{% endif %}
{% if page.pdf %}
| <a href="{{ site.baseurl }}/{{ page.pdf }}">PDF</a>
{% endif %}
{% if page.paper %}
| <a href="{{ page.paper }}">Paper</a>
{% endif %}
<br>
<hr>
<md-block>
{{ page.abstract }}
</md-block>
<br>

<div style="display: flex; flex-direction: column; height: 90vh;">
<div style="flex: 1 1 auto;">
  <object
    data="{{ site.baseurl }}/{{ page.pdf }}"
    type="application/pdf"
    width="100%"
    height="100%"
  ></object>
</div>